# Dependencies
node_modules/
uploads/

# Environment variables
.env

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Uploads (optional – keep if you want uploaded images in repo)
# server/uploads/*
# !server/uploads/.gitkeep
